{{ template "header" . }}

<div id="back"></div>
<div class="login-box">
  <div class="login-logo">
    <img
      src="/assets/img/logo-blanco-bloque.png"
      class="img-responsive"
      style="padding: 30px 100px 8px 100px;"
      alt="logo"
    />
  </div>
  <div class="login-box-body">
    <form action="/install" method="post">
      <div class="form-group has-feedback">
        <input type="text" name="dbuser" class="form-control" placeholder="Database user">
        <span class="glyphicon glyphicon-file form-control-feedback"></span>
      </div>
      {{ with .Msg.Errors.UserDB }}
        <strong class="text-danger">{{ . }}</strong>
      {{ end }}
      <div class="form-group has-feedback">
        <input type="password" name="dbpwd" class="form-control" placeholder="Database password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      {{ with .Msg.Errors.PwdDB }}
        <strong class="text-danger">{{ . }}</strong>
      {{ end }}
      <div class="form-group has-feedback">
        <input type="text" name="dbname" class="form-control" placeholder="Database name">
        <span class="glyphicon glyphicon-file form-control-feedback"></span>
      </div>
      {{ with .Msg.Errors.NameDB }}
        <strong class="text-danger">{{ . }}</strong>
      {{ end }}
      <div class="form-group has-feedback">
        <input type="text" name="dbhost" class="form-control" placeholder="Database Host">
        <span class="glyphicon glyphicon-file form-control-feedback"></span>
      </div>
      {{ with .Msg.Errors.HostDB }}
        <strong class="text-danger">{{ . }}</strong>
      {{ end }}
      <div class="row">
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">
            Install
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{{ template "footer" . }}