{{ template "header" . }}

<div id="back"></div>
<div class="login-box">
  <div class="login-logo">
    <img
      src="/assets/img/logo-blanco-bloque.png"
      class="img-responsive"
      style="padding: 30px 100px 8px 100px;"
      alt="logo"
    />
  </div>
  <div class="login-box-body">
    <form action="/seed" method="post">
      <div class="form-group has-feedback">
        <input type="text" name="module" class="form-control" value="{{.Msg.ModuleDes}}" placeholder="Module description">
        <span class="glyphicon glyphicon-file form-control-feedback"></span>
      </div>
      {{ with .Msg.Errors.ModuleDes }}
        <strong class="text-danger">{{ . }}</strong>
      {{ end }}
      <div class="form-group has-feedback">
        <input type="text" name="operation" class="form-control" value="{{.Msg.OperationDes}}" placeholder="Operation description">
        <span class="glyphicon glyphicon-file form-control-feedback"></span>
      </div>
      {{ with .Msg.Errors.OperationDes }}
        <strong class="text-danger">{{ . }}</strong>
      {{ end }}
      <div class="form-group has-feedback">
        <input type="text" name="role" class="form-control" value="{{.Msg.RoleDes}}" placeholder="Role description">
        <span class="glyphicon glyphicon-file form-control-feedback"></span>
      </div>
      {{ with .Msg.Errors.RoleDes }}
        <strong class="text-danger">{{ . }}</strong>
      {{ end }}
      <div class="row">
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">
            Seed
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{{ template "footer" . }}