{{ template "header" . }}
{{ template "nav" . }}
{{ template "menu" . }}
{{ $profiles := index .Menu 6}}
{{ $dashboard := index .Menu 5}}

<div class="content-wrapper">
  <section class="content-header">
    <h1>{{index . "Title"}}</h1>
    <ol class="breadcrumb">
      <li>
        <a href="/{{$dashboard.Url}}"><i class="fa fa-dashboard"></i> Dashboard</a>
      </li>
      <li class="active">Show profile</li>
    </ol>
  </section>
  <section class="content">
    <div class="box">
      <div class="box-header with-border">
        <div class="box-tools pull-right">
          <button
            type="button"
            class="btn btn-box-tool"
            data-widget="collapse"
            data-toggle="tooltip"
            title="Collapse"
          >
            <i class="fa fa-minus"></i>
          </button>
          <button
            type="button"
            class="btn btn-box-tool"
            data-widget="remove"
            data-toggle="tooltip"
            title="Remove"
          >
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <table class="table table-bordered table-striped dt-responsive tablas">
          <thead>
            <tr>
              {{ range .Headers }}
                <th>{{.}}</th>
              {{ end}}
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{.Object.ID}}</td>
              <td>{{.Object.Username}}</td>
              <td>{{.Object.Email}}</td>
              <td>{{.Object.Name}}</td>
              <td>{{.Object.Role.Description}}</td>
              <td>
                <div class="btn-groups">
                  <a href="/{{$profiles.Url}}/{{$profiles.Put}}?id={{.Object.ID}}" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                  <a href="/{{$profiles.Url}}/{{$profiles.Change}}?id={{.Object.ID}}" class="btn btn-success"><i class="fa fa-lock"></i></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
{{ template "javascript" . }}
{{ template "header" . }}