<!DOCTYPE html>
<html>
  <head>
    <title>{{ . }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/bootstrap-3.3.6.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
    <!-- styles AdminLTE -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/bower_components/font-awesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/bower_components/Ionicons/css/ionicons.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/dist/css/AdminLTE.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/dist/css/skins/_all-skins.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/bower_components/datatables.net-bs/css/responsive.bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/bower_components/bootstrap-daterangepicker/daterangepicker.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/bower_components/morris.js/morris.css"
    />

    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png" />
    <script src="/assets/js/jquery-2.2.4.min.js"></script>
    <script src="/assets/js/bootstrap-3.3.6.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/{{.}}" />
    <script src="/assets/{{.}}" type="text/javascript" charset="utf-8"></script>
  </head>
  <body class="hold-transition skin-blue sidebar-collapse sidebar-mini">
    <!-- Header -->
    <header class="main-header">
      <!--LOGOTIPO-->
      <a href="#" class="logo">
        <!-- logo min-->
        <span class="logo-mini">
          <img
            src="/assets/img/favicon.png"
            class="img-responsive"
            style="padding: 10px"
          />
        </span>
        <!-- logo normal-->
        <span class="logo-lg">
          <img
            src="/assets/img/favicon.png"
            class="img-responsive"
            style="padding: 10px 0px"
          />
        </span>
      </a>
      <!--BARRA DE NAVEGACION-->
      <nav class="navbar navbar-static-top" role="navigation">
        <!--Boton de navegacion-->
        <a
          href="#"
          class="sidebar-toggle"
          data-toggle="push-menu"
          role="button"
        >
          <span class="sr-only">Toggle navigation</span>
        </a>
        <!--Perfil de usuario-->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!-- if user -->
                <!--<img src="#" class="user-image" alt="" />-->
                <!-- else -->
                <img src="/assets/img/anonymous.png" class="user-image" alt="" />
                <!-- end -->
                <san class="hidden-xs">User</san>
              </a>
              <!--Dropdown-toggle-->
              <ul class="dropdown-menu">
                <li class="user-body">
                  <div class="pull-right">
                    <a href="#" class="btn btn-default btn-flat"
                      >Cambiar password</a
                    >
                  </div>
                </li>
                <li class="user-body">
                  <div class="pull-right">
                    <a href="#" class="btn btn-default btn-flat">Salir</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- End Header -->
    <!-- Menu -->
    <aside class="main-sidebar">
      <section class="sidebar">
        <ul class="sidebar-menu">
          <li class="active">
            <a href="/">
              <i class="fa fa-home"></i>
              <span>Home</span>
            </a>
          </li>
          <!-- if request.user.profile.level.id == 1 -->
          <li class="treeview">
            <a href="">
              <i class="fa fa-list-ul"></i>
              <span>Cuentas</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li>
                <a href="">
                  <i class="fa fa-circle-o"></i>
                  <span>Users</span>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-circle-o"></i>
                  <span>Profiles</span>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-circle-o"></i>
                  <span>Levels</span>
                </a>
              </li>
            </ul>
          </li>
          <!--  endif
            if request.user.profile.level.id == 1 or  request.user.profile.level.id == 6 -->
          <li>
            <a href="">
              <i class="fa fa-th"></i>
              <span>Category</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-product-hunt"></i>
              <span>Products</span>
            </a>
          </li>
          <!-- endif
            if request.user.profile.level.id == 1 or  request.user.profile.level.id == 2 -->
          <li>
            <a href="/clients/show">
              <i class="fa fa-users"></i>
              <span>Clients</span>
            </a>
          </li>
          <li class="treeview">
            <a href="">
              <i class="fa fa-list-ul"></i>
              <span>Sales</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li>
                <a href="">
                  <i class="fa fa-circle-o"></i>
                  <span>Manage sale</span>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-circle-o"></i>
                  <span>Add sale</span>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-circle-o"></i>
                  <span>Report sale</span>
                </a>
              </li>
            </ul>
          </li>
          <!-- endif -->
        </ul>
      </section>
    </aside>
    <!-- End Menu -->

    <!-- scripts AdminLTE -->
    <script
      src="/assets/js/adminlte/jquery.bootstrap.modal.forms.min.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/assets/css/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/assets/css/bower_components/fastclick/lib/fastclick.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/assets/css/dist/js/adminlte.min.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/assets/css/bower_components/datatables.net/js/jquery.dataTables.min.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/assets/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/assets/css/bower_components/datatables.net-bs/js/dataTables.responsive.min.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/assets/css/bower_components/datatables.net-bs/js/responsive.bootstrap.min.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/assets/plugins/sweetalert2/sweetalert2.all.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/assets/plugins/jquery-number/jquery.number.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/assets/css/bower_components/moment/min/moment.min.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/assets/css/bower_components/bootstrap-daterangepicker/daterangepicker.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/assets/css/bower_components/raphael/raphael.min.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/assets/css/bower_components/morris.js/morris.min.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/assets/css/bower_components/chart.js/Chart.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
  </body>
</html>
