{{ define "javascript" }}
<script
src="/assets/js/adminlte/jquery.bootstrap.modal.forms.min.js"
type="text/javascript"
charset="utf-8"
></script>
<script
src="/assets/css/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"
type="text/javascript"
charset="utf-8"
></script>
<script
src="/assets/css/bower_components/fastclick/lib/fastclick.js"
type="text/javascript"
charset="utf-8"
></script>
<script
src="/assets/css/dist/js/adminlte.min.js"
type="text/javascript"
charset="utf-8"
></script>
<script
src="/assets/css/bower_components/datatables.net/js/jquery.dataTables.min.js"
type="text/javascript"
charset="utf-8"
></script>
<script
src="/assets/css/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"
type="text/javascript"
charset="utf-8"
></script>
<script
src="/assets/css/bower_components/datatables.net-bs/js/dataTables.responsive.min.js"
type="text/javascript"
charset="utf-8"
></script>
<script
src="/assets/css/bower_components/datatables.net-bs/js/responsive.bootstrap.min.js"
type="text/javascript"
charset="utf-8"
></script>
<script
src="/assets/plugins/sweetalert2/sweetalert2.all.js"
type="text/javascript"
charset="utf-8"
></script>
<script
src="/assets/plugins/jquery-number/jquery.number.js"
type="text/javascript"
charset="utf-8"
></script>
<script
src="/assets/css/bower_components/moment/min/moment.min.js"
type="text/javascript"
charset="utf-8"
></script>
<script
src="/assets/css/bower_components/bootstrap-daterangepicker/daterangepicker.js"
type="text/javascript"
charset="utf-8"
></script>
<script
src="/assets/css/bower_components/raphael/raphael.min.js"
type="text/javascript"
charset="utf-8"
></script>
<script
src="/assets/css/bower_components/morris.js/morris.min.js"
type="text/javascript"
charset="utf-8"
></script>
<script
src="/assets/css/bower_components/chart.js/Chart.js"
type="text/javascript"
charset="utf-8"
></script>
{{ end }}