{{ define "menu" }}
{{ $clients := index .Menu 0 }}
{{ $modules := index .Menu 1 }}
{{ $operations := index .Menu 2 }}
{{ $roles := index .Menu 3 }}
{{ $users := index .Menu 4}}
{{ $dashboard := index .Menu 5}}

<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="active">
        <a href="/{{$dashboard.Url}}">
          <i class="fa fa-home"></i>
          <span>Home</span>
        </a>
      </li>
      <li class="treeview">
        <a href="">
          <i class="fa fa-list-ul"></i>
          <span>Cuentas</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="/{{$users.Url}}/{{$users.Show}}">
              <i class="fa fa-circle-o"></i>
              <span>Users</span>
            </a>
          </li>
          <li>
            <a href="/{{$operations.Url}}/{{$operations.Show}}">
              <i class="fa fa-circle-o"></i>
              <span>Operations</span>
            </a>
          </li>
          <li>
            <a href="/{{$roles.Url}}/{{$roles.Show}}">
              <i class="fa fa-circle-o"></i>
              <span>Roles</span>
            </a>
          </li>
          <li>
            <a href="/{{$modules.Url}}/{{$modules.Show}}">
              <i class="fa fa-circle-o"></i>
              <span>Modules</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="">
          <i class="fa fa-th"></i>
          <span>Category</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-product-hunt"></i>
          <span>Products</span>
        </a>
      </li>
      <li>
        <a href="/{{$clients.Url}}/{{$clients.Show}}">
          <i class="fa fa-users"></i>
          <span>Clients</span>
        </a>
      </li>
      <li class="treeview">
        <a href="">
          <i class="fa fa-list-ul"></i>
          <span>Sales</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="">
              <i class="fa fa-circle-o"></i>
              <span>Manage sale</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-circle-o"></i>
              <span>Add sale</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-circle-o"></i>
              <span>Report sale</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
{{ end}}