{{ template "header" . }}
{{ template "nav" . }}
{{ template "menu" . }}
{{ $operations := index .Menu 2 }}
{{ $dashboard := index .Menu 5}}

<div class="content-wrapper">
  <section class="content-header">
    <h1>{{index . "Title"}}</h1>
    <ol class="breadcrumb">
      <li>
        <a href="/{{$dashboard.Url}}"><i class="fa fa-dashboard"></i> Dashboard</a>
      </li>
      <li class="active">Show {{$operations.Plural}}</li>
    </ol>
  </section>
  <section class="content">
    <div class="box">
      <div class="box-header with-border">
        <a href="/{{$operations.Url}}/{{$operations.Create}}" class="btn btn-primary"> Add {{$operations.Singular}} </a>
        <div class="box-tools pull-right">
          <button
            type="button"
            class="btn btn-box-tool"
            data-widget="collapse"
            data-toggle="tooltip"
            title="Collapse"
          >
            <i class="fa fa-minus"></i>
          </button>
          <button
            type="button"
            class="btn btn-box-tool"
            data-widget="remove"
            data-toggle="tooltip"
            title="Remove"
          >
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <table class="table table-bordered table-striped dt-responsive tablas">
          <thead>
            <tr>
              {{ range .Headers }}
                <th>{{.}}</th>
              {{ end}}
            </tr>
          </thead>
          <tbody>
            {{ range .Objects}}
            <tr>
              <td>{{.ID}}</td>
              <td>{{.Description}}</td>
              <td>{{.Module.Description}}</td>
              <td>
                <div class="btn-groups">
                  <a href="/{{$operations.Url}}/{{$operations.Put}}?id={{.ID}}" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                  <a href="/{{$operations.Url}}/{{$operations.Detail}}?id={{.ID}}" class="btn btn-danger"><i class="fa fa-times"></i></a>
                </div>
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
{{ template "javascript" . }}
{{ template "header" . }}