.row-item {
  border-top: solid 1px;
  padding: 5px;
  margin-top: 20px;
}

.row-title {
  padding: 5px;
  margin-top: 20px;
}


.parent {
  display: flex;
  height: 300px;
  justify-content: space-around;
}

.child {
  height: 50px;
  list-style: none;
  margin: auto;
  width: 50px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
  justify-content: center;
}

.items .item {
  flex: 1 1 auto;
  box-sizing: border-box;
  background: #e0ddd5;
  color: #171e42;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
}