{{ template "header" . }}
{{ template "nav" . }}
{{ template "menu" . }}
{{ $clients := .Menu.clients }}
{{ $users := .Menu.users }}
{{ $modules := .Menu.modules }}
{{ $operations := .Menu.operations }}
{{ $roles := .Menu.roles }}

<div class="content-wrapper">
  <section class="content-header">
    <h1>
      {{.Title}}
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="/{{index $users 0}}/{{index $users 1}}"><i class="fa fa-dashboard"></i> Show users</a>
      </li>
      <li class="active">{{.Title}}</li>
    </ol>
  </section>
  <section class="content">
    <div class="box">
      <div class="box-header with-border">
        <div class="box-tools pull-right">
          <button
            type="button"
            class="btn btn-box-tool"
            data-widget="collapse"
            data-toggle="tooltip"
            title="Collapse"
          >
            <i class="fa fa-minus"></i>
          </button>
          <button
            type="button"
            class="btn btn-box-tool"
            data-widget="remove"
            data-toggle="tooltip"
            title="Remove"
          >
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <form action="{{.Link}}?id={{.ID}}" method="post">
          <!--begin form-->
          {{ if .ID }}
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" type="hidden" name="id" value="{{.ID}}">
              </div>
            </div>
          {{ end}}
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-address-card-o"></i></span>
              <input class="form-control" type="text" name="username" value="{{.Msg.Username}}" placeholder="Username">
            </div>
            {{ with .Msg.Errors.Username }}
              <strong class="text-danger">{{ . }}</strong>
            {{ end }}
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-address-card-o"></i></span>
              <input class="form-control" type="text" name="email" value="{{.Msg.Email}}" placeholder="Email">
            </div>
            {{ with .Msg.Errors.Email }}
              <strong class="text-danger">{{ . }}</strong>
            {{ end }}
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-address-card-o"></i></span>
              <input class="form-control" type="text" name="name" value="{{.Msg.Name}}" placeholder="Full name">
            </div>
            {{ with .Msg.Errors.Name }}
              <strong class="text-danger">{{ . }}</strong>
            {{ end }}
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-address-card-o"></i></span>
              <input class="form-control" type="text" name="role" value="{{.Msg.RoleID}}" placeholder="Role">
            </div>
            {{ with .Msg.Errors.RoleID }}
              <strong class="text-danger">{{ . }}</strong>
            {{ end }}
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
{{ template "javascript" . }}
{{ template "header" . }}